<%= form_with(model: quizz, local: true, data: { controller: "nested-form", nested_form_wrapper_selector: ".nested-fields" }) do |form| %>
  <template data-nested-form-target="template">
    <%= form.fields_for :questions, Question.new, child_index: "NEW_RECORD" do |question_fields| %>
      <%= render "question_fields", f: question_fields %>
    <% end %>
  </template>

  <% form.fields_for :questions do |question_fields| %>
    <%= render "question_fields", f: question_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>
  <button type="button" class="btn btn-primary" data-action="nested-form#add">Add Question</button>
  <div class="actions">
    <%= form.submit "Create Quizz", class: "btn btn-success" %>
  </div>
<% end %>
